<PageTitle>Complimentree</PageTitle>

<p>Welcome to Complimentree! The local trees have been emotionally neglected for too long. Lacking hugs, they are beginning to show signs of stress-induced illness.</p>
<img src="https://images.unsplash.com/photo-1563136060-ccd30423de88?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A willow tree" />
@code {

}
