@using Complimentree.Models;

@rendermode InteractiveServer

<h2>Trees</h2>

@code {
    List<Tree> trees = new List<Tree>
{
    new Tree
    {
        TreeId = 1,
        Name = "Oakley",
        Location = "Lake District",
        Size = "Large",
        Species = "Oak",
        Compliments = new List<Compliment>(){new Compliment(1, "You are a nice tree!")},

    },
    new Tree
    {
        TreeId = 2,
        Name = "Willow Whisper",
        Location = "Carlisle Park",
        Size = "Medium",
        Species = "Willow",
        Compliments = new List<Compliment>()
    },
    new Tree
    {
        TreeId = 3,
        Name = "Pine Prime",
        Location = "Sherwood Forest",
        Size = "Tall",
        Species = "Pine",
        Compliments = new List<Compliment>()
    },
    new Tree
    {
        TreeId = 4,
        Name = "Cherry Bloom",
        Location = "Kyoto Gardens",
        Size = "Small",
        Species = "Cherry Blossom",
        Compliments = new List<Compliment>()
    },
    new Tree
    {
        TreeId = 5,
        Name = "Maple Majesty",
        Location = "Highland Trail",
        Size = "Medium",
        Species = "Maple",
        Compliments = new List<Compliment>()
    }
};
    public string inputCompliments;
    public Compliment AddCompliment(int id)
    {
        Tree thisTree = trees.FirstOrDefault(tree => tree.TreeId == id);

        if (string.IsNullOrEmpty(inputCompliments))
        {
            Compliment newCompliment = Compliment.GetCompliment();
            thisTree.Compliments.Add(newCompliment);
            return newCompliment;
        }
        int customComplimentId = Compliment.ComplimentsList.Count + 1;
        var customCompliment = new Compliment(customComplimentId, inputCompliments);
        thisTree.Compliments.Add(customCompliment);
        inputCompliments = "";
        return customCompliment;
    }

}
<label for="inputCompliment">Give a custom compliment:</label>
<input @bind-value="inputCompliments" id="inputCompliment" name="customCompliment" aria-label="Give a custom compliment:" type="text" />
<ul>
    @foreach (var tree in trees)
    {
        <li>
            <h3>@tree.Name</h3>
            <ul>
                <li>
                    <h4>Species: @tree.Species</h4>
                    @if (tree.Compliments.Count == 0)
                    {
                        <h4>This poor tree doesn't have any compliments</h4>
                        <button @onclick="() => AddCompliment(tree.TreeId)">Give me my first compliment</button>

                    }
                    @if(tree.Compliments.Count != 0)
                    {
                        <h4>Compliments:</h4>
                        <ul>
                            @foreach (var compliment in tree.Compliments)
                            {
                                <li>
                                    <h5>Compliment: @compliment.Text</h5>
                                </li>
                            }
                        </ul>
                        <button @onclick="() => AddCompliment(tree.TreeId)">Give me another compliment</button>

                    }
                </li>
            </ul>
        </li>
    }

</ul>

